body {
  margin: 0;
  background-color: black;
  overflow: hidden;
}

#content {
  position: absolute;
  width: 100%;
  height: auto;
  height: 100%;
}

#content canvas {
  display: block;
  margin: 0 auto;
}

#editor {
  width: 150px;
  height: 135px;
  background-color: rgb(95, 95, 95);
  position: fixed;
  color: white;
  bottom: 0;
  right: 10px;
  text-align: right;
  padding: 5px 30px;
}

#editor a {
  font-size: 20px;
  display: inline-block;
  float: left;
  width: 100%;
  cursor: pointer;
}

#editor a:hover {
  text-decoration: underline;
}

#editor a.selected {
  color: yellow;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  height: 100%;
  z-index: 1000;
}

.loading .cyborg {
  margin: 15% auto 0 auto;

  width: 32px;
  height: 70px;

  background: url('img/cyborg.png');
  background-position: 0 0;
}

.loading .bar-ctn {
  margin: 20px auto;
  background: red;
  width: 200px;
}

.loading .bar-ctn #bar {
  background: rgb(86, 86, 86);
  width: 100%;
  height: 20px;
  overflow: hidden;
  box-shadow: 1px -1px 0px white;
}

.loading .bar-ctn #bar div {
  background: rgb(184, 202, 28);
  width: 1%;
  height: auto;
  height: 100%;
}

.levitate{
  -webkit-animation:
        fadeInDown 2s 1,
        levitate 2s infinite;

  -moz-animation:
      fadeInDown 2s 1,
      levitate 2s infinite;
}

@-webkit-keyframes fadeInDown {
  0% {
    -webkit-transform: translateY(-50px);
    opacity:0;
  }
  100% {
    -webkit-transform: translateY(0px);
    opacity:1;
  }
}

@-moz-keyframes fadeInDown {
  0% {
    -moz-transform: translateY(-50px);
    opacity:0;
  }

  100% {
    -moz-transform: translateY(0px);
    opacity:1;
  }
}

@-webkit-keyframes levitate{
  0% {
   -webkit-transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0px);
  }
}

@-moz-keyframes levitate{
  0% {
   -moz-transform: translateY(0px);
  }
  50% {
    -moz-transform: translateY(-5px);
  }
  100% {
    -moz-transform: translateY(0px);
  }
}